@import 'tailwindcss';

@font-face {
  font-family: 'Archivo';
  src: url('/fonts/Archivo-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 400 700;
  font-display: swap;
}

@theme {
  --color-primary: #582180;
  --color-background: #e6e6fa;
  --color-text: #1f1f1f;
  --color-muted: #4b3d4f;
  --font-archivo: 'Archivo', san-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  background-color: #000000;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}